/* Estilos para la barra de progreso */

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.completed .circle {
    background-color: #4CAF50;
}

.actual .circle {
    background-color: #4CAF50;
}

.bar {
    flex-grow: 1;
    height: 4px;
    background-color: #ccc;
}

.step.completed+.bar {
    background-color: #4CAF50;
}

/* Estilos para los contenedores de formularios */

.container-pago {
    display: flex;
    margin-right: auto;
    margin-bottom: 20px;
    gap: 20px;
}

.shipping-form {
    flex: 2;
    padding: 20px;
    max-width: 615px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.pay-form {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.informacion {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.shipping-form h2 {
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.form-group input {
    width: -webkit-fill-available;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row div {
    flex: 1;
}

.input-row {
    display: flex;
}

.input-row input {
    width: 7%;
}

.input-row p {
    width: 1%;
    color: #555;
}


.next-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-top: 10px;
}

.boton-carrito {
    background-color: #ff5a5a;
}

a {
    text-decoration: none;
    color: white;
}

.next-button:hover {
    background-color: #45a049;
}

.boton-carrito:hover {
    background-color: #da4a4a;
}

.confirmation-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.info-section {
    margin-bottom: 20px;
}

.info-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.info-section p {
    margin: 5px 0;
    font-size: 16px;
}

.confirm-button {
    text-align: center;
}

.confirm-button button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button button:hover {
    background-color: #218838;
}


/* Estilos para el resumen de productos */

#contenedor-resumen {
    margin: 0 auto;
}

.resumenDiv {
    width: 100%;
    max-width: 350px;
    height: 450px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ccc0a9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resumenDiv h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.products-summary {
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.productLi {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    color: #555;
}

.productLi:last-child {
    border-bottom: none;
}

.infoProduct {
    flex: 2;
}

.infoProduct p {
    margin: 5px 0;
    font-size: 14px;
    color: #444;
}

.imageProduct {
    flex: 1;
}

.imageProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.totalDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 2px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.totalDiv p:last-child {
    color: black;
}

/* Estilos para la barra desplazadora */
.products-summary::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}

.products-summary::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.products-summary::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* Cambiando la disposición cuando la pantalla sea más pequeña */
@media (max-width: 1022px) {
    .resumenDiv {
        width: auto;
    }

    .container-pago {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-resumen {
        margin: 0;
    }

    .input-row input {
        width: 9%;
    }
}

@media (max-width: 498px) {
    .general-form {
        width: 300px;

    }

    .form-row {
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    .progress-bar {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .general-form {
        width: 250px;
    }
}