body {
    font-family: Arial, sans-serif;
    background-color: #cbbfa8;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.about-seccion {
    background-color: #d32f2f;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.about-header h2 {
    font-size: 2.8em;
    margin: 0;
    color: #ffffff;
}

.about-logo {
    width: 400px;
    height: auto;
}

.about-presentacion {
    max-width: 800px;
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1.5;
}

.questions-section {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(0, 40, 45);
    padding: 40px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.questions-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
    margin: auto;
    box-sizing: border-box;
    align-items: center;
}

.question-box {
    width: 90%;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(203, 191, 168, 0.185);
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.question-box h3 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 10px;
}

.question-box p {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.5;
}

.box-1 {
    background-color: #3c8c11a1;
}

.box-2 {
    background-color: #6b3d19b2;
}

.box-3 {
    background-color: #e3c100a6;
}

@media (max-width: 768px) {
    .questions-section {
        padding: 20px; 
    }

    .question-box {
        padding: 15px; 
        font-size: 1em; 
    }
}