/* FONT H1 principal de la página para TÍTULOS */
@font-face {
    font-family: 'reitamregular';
    src: url('../fonts/reitam_regular-webfont.woff2') format('woff2'),
         url('../fonts/reitam_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* FONT Subtítulos */

/* Estructura de la Base */

body {
    font-family: 'reitamregular', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Tamaño de Pantalla*/
.container {
    max-width: 1024px;
    width: 100%;
}

ul {
    list-style: none;
}

.categoria-max-w-300 {
    max-width: 300px;
    width: 100%;
    padding: 0;
}

.container-flex-col {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}

.input-wrapper-bp {
    position: relative;
    width: 271px;
}

.input-bp {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
}

.input-icon-bp {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    width: 100%;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.jc {
    justify-content: space-around;
}

.header {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc0a9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 100px;
    height: auto;
    margin: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 1em;
    border-radius: 15px;
}

.search-bar button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #333;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    align-items: center;
    background-color: #ccc0a9;
}

.navbar ul {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    margin: 0 30px;
}

.mobile-navbar {
    margin: 0;
    display: block;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ccc0a9;
}

.mobile-navbar i {
    font-size: 5vmin;
    cursor: pointer;
}

.mobile-navbar a {
    flex: 1;
    text-align: center;
    font-size: 6vmin;
    color: black;
}

.mobile-navbar a i {
    display: block;
    color: black;
    padding: 0 5px;
}

.mobile-navbar li:hover i {
    color: black
}

/* ABOUT US - DESIGN*/

/* Estilos para la sección About */
.about-seccion {
    background-color: #d32f2f;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.about-header h2 {
    font-size: 2.8em;
    color: #ffffff;
}

.about-logo {
    width: 400px;
    height: auto;
}

.about-presentacion {
    max-width: 800px;
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
}

/* Preguntas */
.questions-section {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(0, 40, 45);
    padding: 40px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.questions-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
    align-items: center;
}

.question-box {
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(203, 191, 168, 0.185);
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.question-box h3 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 10px;
}

.question-box p {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.5;
}

/* Equipo */
.team-container {
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;  
}

.team-member {
    font-size: 16px;
    color: rgb(0, 40, 45);
    padding: 5px;
    background-color: rgb(228, 65, 64);
    border-radius: 4px;
    white-space: nowrap;
}

/* Colores específicos por box */
.box-1 {
    background-color: #3c8c11a1;
}

.box-2 {
    background-color: #6b3d19b2;
}

.box-3 {
    background-color: #e3c100a6;
}

@media (max-width: 768px) {
    .questions-section {
        padding: 20px; 
    }
    .question-box {
        padding: 15px; 
        font-size: 1em; 
    }
}

/* FOOTER - DESIGN*/

footer {
    background-color: rgb(203, 191, 168);
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: rgb(0, 40, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Alineacíon de la estructura del footer*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-g1h0 {
    width: 100%; 
    padding: 0 15px;
}

.g1h0-footer-links {
    list-style: none;  
    padding: 0;       
    margin: 0 0 1rem 0; 
    flex-direction: column;
    flex-grow: 1;
}     

.g1h0-footer-links li {
    margin-bottom: 20px;
}

.g1h0-footer-links a {
    color: inherit; 
    text-decoration: none; 
}

/* Iconos */
ul.g1h0-social-icons {
    list-style-type: none;
    padding: 0;    
    margin: 0;
    display: flex;
    gap: 30px;
    margin-top: 1rem;
}

    /*Diseño de iconos*/
ul.g1h0-social-icons li i {
    font-size: 2rem;
    color: rgb(0, 40, 45);
}

/*Título "Contáctanos"*/
.g1h0-widget h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 40, 45);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(0, 40, 45);
    padding-bottom: 0.5rem;
}

/* Créditos al final del pie de la página */
#copy-right {
    background-color: rgb(0, 40, 45);
    color: rgba(203, 191, 168, 0.767);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.copy-right-sec {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.copy-right-sec a {
    color: rgba(203, 191, 168, 0.767);
    text-decoration: none;
}