{% extends "base.html" %}

{% block title %}
About ★ PediloDespues
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <!-- Sección de Presentación -->
    <section class="about-seccion">
        <div class="about-header">
            <h2>⯨About Us⯩</h2>
            <img src="{{ url_for('static', filename='images/logos/logo-header.png') }}" alt="Logo" class="about-logo">
        </div>
        <div class="about-presentacion">
            <p>Somos un restaurante familiar que ha innovado para que disfrutes de nuestros platillos de una manera moderna y conveniente. 
                Hemos creado una aplicación web y móvil que permite a nuestros clientes realizar pedidos en línea, simplificando el acceso a nuestros deliciosos platos desde la comodidad de su hogar. 
                ¡Con PediloDespues, aprovecha nuestras irresistibles promociones y disfruta de una experiencia única!</p>
        </div> 
    </section>

        <!-- Sección de Preguntas -->
        <section class="questions-section">
            <div class="questions-container">
                <div class="question-box box-1">
                    <h3>OBJETIVO</h3>
                    <p>Nuestro objetivo es brindar una experiencia de pedidos en línea fácil y accesible para nuestros clientes, mejorando la rapidez y eficiencia en la entrega de nuestras comidas.</p>
                </div>
                <div class="question-box box-2">
                    <h3>CÓMO FUNCIONA</h3>
                    <p>A través de nuestra plataforma, puedes seleccionar tus platos favoritos, realizar el pago y recibir tu comida en la puerta de tu casa.</p>
                </div>
                <div class="question-box box-3">
                    <h3>EQUIPO</h3>
                    <p>Contamos con un equipo dedicado de chefs, repartidores y personal de atención al cliente comprometidos con la excelencia.</p>
                    <!--Nombres de los miembros del Equipo-->
                    <div class="team-container">
                        <div class="team-member">Karel Luna</div>
                        <div class="team-member">Agustin Beltrame</div>
                        <div class="team-member">Leonel Rodrigo Rolon</div>
                        <div class="team-member">Jordan Ticona</div>
                        <div class="team-member">Angela Alcon</div>
                        <div class="team-member">Juan Valentin Marcos</div>
                        <div class="team-member">Ivan Poggio</div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}