<header class="header">
    <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="logo">
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <nav class="navbar">
        <ul class="desktop-navbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('buscarProducto') }}">Productos</a></li>
            <li><a href="{{ url_for('seguimiento') }}">Seguimiento</a></li>
            <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
            <li><a href="{{ url_for('carrito') }}" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>