<header class="header">
    <img src="{{ url_for('static', filename='/images/logo.png') }}" width="5%" alt="logo">
    <div id="barra-busqueda">
        <input type="text" placeholder="Buscar...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/">Productos</a>
        <a href="/">Seguimiento</a>
        <a href="/">Sobre Nosotros</a>
    </nav>
    <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
</header>
