<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito ★ PediloDespues</title>
    <!--Vinculo mi carrito.html con la base.html-->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/carrito.css')}}" rel="stylesheet" >
</head>
<body>
    <div class="container-principal my-4">
        <div class="row jc">
            <h1>Carrito de Pedidos</h1>
            <button class="carrito-btn-vaciar">Vaciar Carrito</button>
        </div>
        <div id="container-promos" class="row">
            <!-- Promos del carrito acá -->
        </div>
        <div class="container-resumen mt-4">
            <h4>Total: $<span id="total-precio">0.00</span></h4>
            <button id="confirmar-pedido" class="btn btn-success">Confirmar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/carro.js') }}"></script>
</body>
</html>