<footer id="g1h0-footer" role="contentinfo" class="g1h0-section">

    <!-- Iconos de las redes sociales -->
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="g1h0-social-icons">
                <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- Informacion de contacto en el pie de página -->

    <div class="container-g1h0">
        <div class="row left-info">
            <div class="col g1h0-widget">
                <h4>Contáctanos:</h4>
                <ul class="g1h0-footer-links">
                    <li><i class="bi bi-geo-alt"></i>Av. Corrientes 3247, Buenos Aires</li>
                    <li><a href="mailto:pedilodespues@gmail.com">pedilodespues@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<!-- Derechos de autor al final de la página -->

<section id="copy-right">
    <div class="copy-right-down">
        <i class="down-copyright"></i>  
        <small>&copy; 2024 Hiper-Mega-Red. Todos los derechos reservados.</small>
    </div>
</section>