<div>
    <header class="header">
    <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="logo">
        <nav class="navbar">
            <ul class="mobile-navbar">
                <li><a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="{{ url_for('seguimiento') }}"><i class="fa-solid fa-truck"></i></a></li>
                <li><a href="{{ url_for('aboutUs') }}"><i class="fa-solid fa-users"></i></a></li>
                <li><a href="{{ url_for('carrito') }}" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
</div>